.btnComponent.ant-btn:not(.ant-btn-text):hover,
.btnComponent.ant-btn:not(.ant-btn-text):focus {
    border-color: rgba(129, 126, 150, 0.5);
}

.btnText:hover span.ant-typography {
    color: #0054ff !important;
    transition: color 200ms linear;
}
span.ant-typography {
    transition: color 200ms linear;
}
